@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&family=Roboto&display=swap');
/* body{
    min-width: 1230px; /* ограничение на сжатие 
}*/
.h1-heading{
    margin: 0;
}
.main{
    background: rgb(225, 232, 237);
}
p{
    margin: 0;
    padding: 0;
}
.list-style{
    list-style-type: none;
}
.ul-style{
    margin: 0;
    padding: 0;
}
.container{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.logo-img{
    width:250px;
}
.container-logo{
    display: flex;
    align-items: center;
}
.header{
    background: rgb(225, 232, 237);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100px;
    
}
.nav-list{
    display: flex;
    padding: 0;
    margin: 0;

}
.nav-item:not(:last-child){
    margin-right: 50px;
}
.nav-item-link{
    text-decoration: none;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    color:rgba(47,60,72,1);
}
.header-nav{
    display: flex;
    align-items: center;
}

.header-image-links{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu{
    display: none;
}
.show-menu{
    display: flex !important;
}
.menu-open{
    border:none;
    background: rgb(225, 232, 237);
}

/*------------------------------section-about----------------------------------------*/
.section-about{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/background.webp); 
    background-size: cover;
    background-position: 70% 30%;
    background-repeat: no-repeat
}
.about-container{
    display: flex;
    padding: 0;
    height: 600px;
    justify-content: space-between;
    
}
.about-inner-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-container-text{
    font-family: 'Inter', sans-serif;
    color:aliceblue;
    font-size: 56px;
    line-height: normal;
    text-shadow: 2px 2px 20px rgb(0 0 0 / 60%);
}
.about-container-paragraph{
    font-size:12px;
    font-family: 'Inter', sans-serif;
    color:aliceblue;
    margin-bottom: 50px;
    text-shadow: 2px 2px 20px rgb(0 0 0 / 60%);
}
.about-container-item{
    font-family: 'Inter', sans-serif;
    color:aliceblue;
}

/*-------------section-why---------------------*/
.section-why{
    background: #FF9E00	;
}
.why-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: center;
}
.why-container-text{
    font-family: 'Inter', sans-serif;
    color:aliceblue;
    font-size: 40px;
    line-height: normal; 
    margin-bottom:50px;
}
.why-container-list{
    display: flex;
    justify-content: space-around;
    width: 1200px;
}
.why-container-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color:aliceblue;
    font-size: 16px;
    width: 100px;
    text-align: center;
}
.why-img{
    width: 80px;
    margin-bottom: 50px;
}

/*-----------section-directions--------*/

.container-directions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;
    
}
.directions-heading{
    font-family: 'Inter', sans-serif;
    color:#3A4F66;
    font-size: 40px;
    line-height: normal; 
    margin-bottom:50px;
}
.directions-list{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size:18px;
    width: 1200px;
}
.directions-paragraph{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    color:#3A4F66;
}
.directions-text{
    width: 800px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 30px;
    color:#3A4F66;
}
.directions-item{
    display: flex;
    margin-bottom: 50px;
    color:#3A4F66;
    justify-content: space-between;
    align-items: center;
}

.directions-item-div{
    display: flex;
    flex-direction: column;
    
}

.directions-img{
    width: 300px;
    max-height: 225px;
    border-radius: 15px;
}
.directions-benefits-item{
    margin-bottom: 15px;
}
.directions-benefits-item:first-child{
    margin-top: 15px;
}

/*-------------------sections-teachers------*/

/*
.teachers-heading{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 50px;
    color: #3A4F66;
    margin-left: auto;
    margin-right: auto;
    width: 433px;
}
.teachers-list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.teachers-item{
    display: flex;
    width: 300px;
    flex-direction: column;
    border:3px solid #3A4F66;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius:15px;
    align-items: center;
    padding:10px;
}
.teachers-photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:3px solid #3a4f66;
    margin-bottom: 50px;
}
.teachers-head-paragraph{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
    color: #3A4F66;
}*/ /*
.teachers-paragraph{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #3A4F66;
}
*/
/*-------------------section-reviews---------*/


.reviews-list{
    display: flex;
    justify-content: space-between;
}
.reviews-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.reviews-item{
    width: 300px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews-review-name{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
    font-weight: 600;
    color: #3a4f66;
}
.reviews-review{
    font-family: 'Roboto', sans-serif;
    color: #3a4f66;
}
.reviews-heading{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 50px;
    color: #3a4f66;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
}


/*yndxmap*/
.container-map{
    margin: 30px 0px 0px 0px;
}
/*---------section-contacts-------*/

.section-contacts{
    background: #283645;
    height: auto;
}
.contacts-container{
    padding-top:20px;
}
.contacts-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.contacts-img{
    display: flex;
    flex-direction: column;
}
.contacts-heading{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: normal;
    margin-bottom: 30px;
    color: #8d949d;
}
.contacts-item{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 15px;
    align-items: center;
}
.contacts-paragraph-link{
    text-decoration: none;
    color:#8d949d;  
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.contacts-paragraph-title{
    color:#8d949d;
    font-family: 'Montserrat', sans-serif;
}






.footer{
    padding:20px 0px;
    background: #283645;
}
.footer-paragraph{
    text-align: center;
    color:#8d949d;
    font-family: 'Montserrat', sans-serif;
}


/*------form------*/


.form-container{
    display: flex;
    justify-content: flex-end;
    
    margin-top: 15px;
    margin-bottom: 15px;
}
form {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    margin-top: 50px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.3 );
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.3);
}

form .input-form {
    border:none;
    height: 50px;
    border: 1px solid #c3c3c3;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    font-family: 'inter', sans-serif;
    background: rgb(255 255 255 / 0.7);
}

form input.error{
    border-color:red;

}
form label.error{
    font-family: 'inter', sans-serif;
    color:aliceblue;
}
.checkbox-input.error{
    outline:1px solid red;
}
.checkbox label.error{
    font-size:10px;
    margin-left:5px;
    
}
.status p{
    color:aliceblue;
}
form textarea {
    background: rgb(255 255 255 / 70%);
    border: 1px solid #c3c3c3;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    line-height: 18px;
    font-family: 'inter', sans-serif;
    height: 30px;
}

form button {
    height: 50px;
    width:100%;
    cursor: pointer;
    border-radius: 15px;
    padding:15px 30px;
    font-family: 'inter', sans-serif;
    border:none;
}
form p{
    font-family: 'inter', sans-serif;
}

.form-img{
    height: 600px;  
}
.form-heading{
    font-family: 'Inter', sans-serif;
    color:aliceblue;
    font-size: 40px;
    line-height: normal; 
    margin-bottom:50px;
    
}
.checkbox-label{
    font-family: 'inter', sans-serif;
    font-size:14px; 
    margin-left: 5px;
    color:aliceblue;
}
.checkbox-link{
    color:aliceblue;
}
.checkbox{
    display: flex;
    align-items: center;
    line-height: 0.9;
    height: 40px;
}



/*------agreement-------*/

.agreement-heading{
    font-family:'inter', sans-serif;
}
.agreement-text{
    font-family:'inter', sans-serif;
}
@media screen and (max-width:1230px) {

    .container{
        width: 960px;
    }
    .about-inner-container2{
        width: 450px;
    }
    .why-container-list{
        width:960px;
    }
    .directions-item-div{
        width: 600px;
    }
    .directions-item{
        justify-content: space-around;
        width:960px;
    }
    .directions-text{
        width:600px;
    }
    .directions-list{
        width:960px;
    }
}
@media screen and (max-width:990px) {
    .container{
        width: 720px;
    }
    .about-container{
        flex-direction: column-reverse;
        height: 750px;
        justify-content: center;
    }
    .about-container-text{
        font-size:20px;
    }
    .form-heading{
        font-size:20px;
    }
    .section-about{
        height: 853px;
    }
    form{
        margin-top:0px;
    }
    .why-container-list{
        width: 720px;
    }
    .directions-item{
        justify-content: space-around;
        width:720px;
        flex-direction: column;
    }
    .directions-item-div{
        padding-left: 30px;
    }
    .directions-img{
        margin-bottom:15px;
    }
    .directions-text{
        width:620px;
    }
    .directions-list{
        width:720px;
    }
    .why-container-item{
        width: 140px;
        font-size:14px;
    }
    .directions-text{
        line-height: 23px;
    }
    .header-nav{
        display: none;
    }
    .reviews-item{
        height: 420px;
        width: 230px;
    }
    .contacts-list{
        flex-wrap:wrap;
    }
    .contacts-item{
        width:300px;
    }
    .section-contacts{
        height:auto;
    }
    .contacts-list{
        padding-bottom: 30px;
        height: 100px;
    }
    .header-image-links{
        width: auto;
    }
    .image-links{
        margin-left: 5px;
    }
    .header-menu{
        display: block;
        padding-left: 5px;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        width: 140px;
        justify-content: center;
        height: 100px;
    }
    .why-container-item{
        margin-bottom: 15px;
    }
}
@media screen and (max-width:767px) {
    .container{
        width: 540px;
    }
    .header-container{
        width: 570px ;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        width: 140px;
        justify-content: center;
        height: 100px;
    }
    .header-menu{
        padding-left: 5px;
    }
    .image-links{
        margin-left: 5px;
    }
    form{
        width: 300px;
    }
    .directions-list{
        width: 510px;
    }
    .directions-item{
        width: 510px;
    }
    .directions-item-div{
        width: 540px;
    }
    .directions-text{
        width: 510px;
    }
    .why-container{
        height: auto;
        padding:10px 0;
    }
    .why-container-text{
        margin-left: 10px;
    }
    .why-img{
        margin-bottom: 15px;
    }
    .why-container-list{
        width: 540px;
        flex-wrap: wrap ;
    }
    ul{
        padding-inline-start: 0px;
    }
    .reviews-list{
        flex-direction: column;
    }
    .reviews-item{
        width: auto;
        height: auto;
        margin-bottom: 15px;
    }
    .reviews-review-name{
        margin-bottom: 15px;
    }
    .contacts-item{
        width: auto;
    }
}
@media screen and (max-width:599px){ 
    .container{
        width: auto;
        padding: 5px 15px;
    }  
    .why-container-text{
        font-size:30px;
        margin-left: 0;
    }
    .why-container{
        width: 500px;
    }
    .header-menu{
        display: block;
        padding-left: 5px;
    }
    .why-container-list{
        width: auto;
    }
    .why-container-text{
        font-size:25px;
        margin-bottom: 30px;
        text-align: center;
    }
    .why-container{
        width: auto;
    }
    .directions-list{
        width: auto;
    }
    .directions-item{
        width: auto;
    }
    .directions-item-div{
        width: auto;
        padding-left:0px;
    }
    .directions-text{
        width: auto;
    }
    .about-inner-container2{
        width: auto;
    }
    .directions-benefits-list{
        padding-inline-start:10px;
    }
    .contacts-list{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .contacts-item{
        padding-bottom: 5px;
    }
    .contacts-container{
        height:240px;
    }
    form .input-form{
        height: 40px;
    }
    .logo-img{
        width: 200px;
    }
    .menu-open{
        display:none;
    }
    .section-about{
        height: 750px;
    }
    
}
@media screen and (max-width:426px){
    .contacts-heading{
        font-size:27px;
    }
}
@media screen and (max-width:330px){
    .logo-img{
        width: 180px;
    }
}